.content {
  width: 1440px;
}

.image {
  background: url(../../images/our-coffee-title.jpg);
  background-size: cover;
  width: 100%;
}

.seach {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
