.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: "Merienda";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #000000;
  margin-top: 80px;
  margin-bottom: 20px;
}
.text {
  font-family: "Merienda";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  padding-left: 425px;
  padding-right: 425px;
  margin-top: 40px;
}
.text_2 {
  font-family: "Merienda";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  padding-left: 425px;
  padding-right: 425px;
  margin-top: 20px;
  margin-bottom: 100px;
}
